* {
    box-sizing: border-box;
    font-family: "Metropolis", sans-serif;
}


/* --UNIVERSAL STYLINGS-- */
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 225%;
}

a {
    color: whitesmoke;
    text-decoration: none;
}


/* --HEADER STYLINGS-- */
header {
    display: flex;
    background-color: lightblue;
    padding: 1.5%;
    justify-content: space-evenly;
}

header h2 {
    font-size: 2rem;
    color: #535353;
    text-align: right;
}

header nav {
    display: flex;
    max-width: 25%;
    justify-content: flex-end;
}

header p {
    text-transform: uppercase;
    text-align: justify;
    font-weight: bold;
    padding: 5%;
    margin: auto;
    margin-left: -5%;
    display: flex;
    flex-wrap: wrap;
}

.parallax {
    background-image: url("../images/looking\ down\ side\ on.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* --ABOUT ME SECTION-- */
.about-me {
    display: flex;
}



/* --GENERIC CARD STYLING */
.title-card {
    width: 45%;
    text-align: right;
    margin: 10px;
    padding: 10px;
    border-right: 2px inset lightslategray;
    box-shadow: -7px -7px 5px lightslategray;
}

.content-box {
    display: flex;
    width: 45%;
    flex-direction: row;
    flex-wrap: wrap;
}



/* --WEB DEV STUFF-- */
.web-development {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;
}

.website-card {
    padding: 25px;
    background-color: lightgray;
    margin: 8px;
    width: 40%;
}

.website-card:hover {
    opacity: 65%;
}

.web-development h3 {
    background-color: rgb(90, 90, 90, 80%);
    color: snow;
    max-width: 75%;
    padding: 5%;
    margin-left: -35px;
}

#audio-website {
    background-image: url("../images/at\ board\ IG.JPG");
    background-position: center;
    background-size: cover;
}

#pop-punk-form {
    background-image: url("../images/DSC_0158.JPG");
    background-position: center;
    background-size: cover;
}

#horiseon-sample {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-position: center;
    background-size: cover;
}



/* --PYTHON STUFF-- */
.python-card {
    padding: 25px;
    background-color: #7cb3fe;
    background-image: url(../images/Python-logo-notext.svg.png);
    margin: 8px;
    width: 40%;
}

.python-card:hover {
    opacity: 65%;
}

.python-development {
    display: flex;
}

.python-development h3 {
    background-color: rgb(90, 90, 90, 80%);
    color: snow;
    max-width: 75%;
    padding: 5%;
    margin-left: -35px;
}


/* --FOOTER SECTION-- */
footer {
    display: block;
    background-color: lightblue;
    padding: 1.5%;
    justify-content: center;
    text-align: center;
}

footer h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    margin-left: 10%;
    color: #535353;
    margin-right: 10%;
}

footer nav {
    display: block;
    margin: auto;
    width: 50%;
}

footer p {
    text-transform: uppercase;
    background-color: #535353;
    font-weight: bold;
    padding: 5px;
}

footer p:hover {
    opacity: 65%;
}


/* --MEDIA QUERIES FOR VIEWPORTS-- */

@media screen and (max-width: 1134px) {
    header nav {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    header nav {
        flex-direction: column;
        align-items: flex-end;
    }

    h1 {
        font-size: 150%;
    }
}